.circle-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: rotateZ(0.01deg); /* IE 10 bug */
}

.circle {
  border-radius: 50%;
  position: absolute;
  line-height: 180px !important;
}

.outer {
  animation: rotate 2s ease-out 1;
  height: 180px;
  width: 180px;
  left: -90px;
  top: -90px;
}

.key {
  width : 300px;
  height : 300px;
  position : relative;
  left: -50%;
  top: -150px;
  z-index : 1;
}

.circle60 {
  background-color: blue;
  transform: rotate(60deg) translateY(-250px) rotate(-60deg);
  opacity: 0.75;
}

.circle72 {
  background-color: #8f715b;
  transform: rotate(72deg) translateY(-250px) rotate(-72deg);
  opacity: 0.75;
}

.circle120 {
  background-color: purple;
  transform: rotate(120deg) translateY(-250px) rotate(-120deg);
  opacity: 0.75;
}

.circle144 {
  background-color: #f1931b;
  transform: rotate(144deg) translateY(-250px) rotate(-144deg);
  opacity: 0.75;
}

.circle180 {
  background-color: purple;
  transform: rotate(180deg) translateY(-250px) rotate(-180deg);
  opacity: 0.75;
}

.circle216 {
  background-color: #f3d4a0;
  transform: rotate(216deg) translateY(-250px) rotate(-216deg);
  opacity: 0.75;
}

.circle240 {
  background-color: red;
  transform: rotate(240deg) translateY(-250px) rotate(-240deg);
  opacity: 0.75;
}

.circle288 {
  background-color: #d6618f;
  transform: rotate(288deg) translateY(-250px) rotate(-288deg);
  opacity: 0.75;
}

.circle300 {
  background-color: yellow;
  transform: rotate(300deg) translateY(-250px) rotate(-250deg);
  opacity: 0.75;
}

.circle360 {
  background-color: #c0334d;
  transform: rotate(360deg) translateY(-250px) rotate(-360deg);
  opacity: 0.75;
}

@keyframes rotate {
  0%, 50% { transform: rotate(0deg) translateY(-250px) rotate(0deg); }
}

.hide {
  display : none;
}